
header{
    height: 150px;
}
h1#cabecalhoh1{
    text-align: center; 
    font-family:sans-serif;
    font-size:30pt;
    margin-top: 40px;
}
h2#cabecalhoh2{
    text-align: center;
    font-family:sans-serif;
    font-size:20pt;
    margin-top: -15px;
}
div#principal{
    width: 100%;
    text-align: center;
}
.box{
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    height: 350px;
    margin: 10px 20px;
}
div#basic{
    background-color: whitesmoke;
    border: 1px gray solid;
    background-image: linear-gradient( to top, whitesmoke 50%, rgb(145,195,106) 25%, rgb(145,195,106) 80%, whitesmoke 30%, whitesmoke 30%, whitesmoke 80%, whitesmoke );
}
div#professional{
    background-color: whitesmoke;
    border: 1px gray solid;
    background-image: linear-gradient( to top, whitesmoke 50%, rgb(74,201,252) 25%, rgb(74,201,252) 80%, whitesmoke 30%, whitesmoke 30%, whitesmoke 80%, whitesmoke );
}
div#advanced{
    background-color: whitesmoke;
    border: 1px gray solid;
    background-image: linear-gradient( to top, whitesmoke 50%, rgb(252,123,4) 25%, rgb(252,123,4) 80%, whitesmoke 30%, whitesmoke 30%, whitesmoke 80%, whitesmoke );
}
.titulo{
    font-size: 15px;
    font-family: sans-serif;
    color: gray;
    margin-top: 25px
}
.valor{
    font-size: 50pt;
    font-family: sans-serif;
    color:white;
    margin-top: 40px;
}
.conteudo{
    font-size: 10pt;
    font-family: sans-serif;
    color: gray;
    list-style-type: none;
    display: inline-block;
    width: 100%;
    height: 25px;
}
ol{
    width: fit-content;
    margin-right: 30px;
    margin-top: -30px;
}
.botao{
    margin-right: -5px;
    margin-top: -20px;
    width: 130px;
    height: 30px;
    border: none;
}
#botao1{
    background-color: rgb(145,195,106);
    color: white;
    cursor: pointer;
}

#botao2{
    background-color: rgb(74,201,252);
    color: white;
    cursor: pointer;
}
#botao3{
    background-color:  rgb(252,123,4);
    color: white;
    cursor: pointer;
}
.box:hover{   
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    border-color: rgb(145,195,106);
}
#basic:hover li{
    color:rgb(145,195,106);
}
#professional:hover li{
    color:rgb(74,201,252);
}
#advanced:hover li{
    color:rgb(252,123,4);
}
#basic:hover h1{
    color:rgb(145,195,106);
}
#professional:hover h1{
    color:rgb(74,201,252);
}
#advanced:hover h1{
    color:rgb(252,123,4);
}
#basic:hover {
    border-color: rgb(145,195,106);
    box-shadow: 0px 1px 1px 1px rgb(145,195,106);
}
#professional:hover {
    border-color: rgb(74,201,252);
    box-shadow: 0px 1px 1px 1px rgb(174,201,252);
}
#advanced:hover {
    border-color:rgb(252,123,4);
    box-shadow: 0px 1px 1px 1px rgb(252,123,4);
}



